name: Format
on:
  push:
    branches:
      - "main"
    paths:
      - "app/**"
      - "tests/**"
jobs:
  format:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: "Install composer dependencies"
        run: composer install
      - name: "Format files with laravel pint."
        run: ./vendor/bin/pint
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Apply formatting changes [skip actions]
          branch: ${{ github.head_ref }}
